@model Hastane.Models.RandevuTakvimi

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<body>
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title"><font color="#009EFB"><strong>Bu Randevu Takvimini Silmek İstediğinize Eminmisiniz?</strong></font></h4>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form asp-action="Delete" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RandevuTakvimiId" />

                            <div class="row">


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        Doktor Adı
                                        <input asp-for="Doktor.AdSoyad" class="form-control" disabled="true" />
                                    </div>
                                </div>

                              
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        Randevu Takvimi
                                        <input asp-for="Tarih" class="form-control" disabled="true" type="date" />
                                    </div>
                                </div>
                                


                            </div>



                            <div class="m-t-20 text-center" style="margin-right:300px;">
                                <button type="submit" value="Delete" class="btn btn-danger submit-btn">Sil</button> &nbsp;&nbsp;
                                <button asp-action="Index" class="btn btn-dark submit-btn">Geri Dön</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>