

<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block text-center">
					<h1 class="text-capitalize mb-5 text-lg">Hakkımızda</h1>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="section about-page">
	<div class="container">
		<div class="row" >
			<div class="col-lg-4">
				<img src="~/web/images/service/bg-1.jpg" alt=""  class="img-fluid w-100">
			</div>
			<div class="col-lg-8">
				<p>
					Kendine, inkılâbın ve inkılâpçılığın çeşitli ve hayatî vazifeler verdiği Türk vatandaşının sağlığı ve sağlamlığı, her zaman, üzerinde dikkatle durulacak millî meselemizdir.
				</p>
				<img src="~/web/images/about/sign.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<section class="section team">
	<div class="container">
		<div class="row justify-content-center" >
			<div class="col-lg-13">
				<div class="section-title text-center">
					<h2 class="mb-4">Hoş Geldiniz!</h2>
					<div class="divider mx-auto my-4"></div>
					<p>
						Hasta merkezli yaklaşımımızla, sizlere en iyi sağlık hizmetini sunmaya çalışıyoruz.

						Hastalarımızın sağlık ve mutluluğu bizim önceliğimizdir. Tüm doktorlarımız, hemşirelerimiz ve diğer sağlık personelimiz, her bir hastamıza bireysel ve özenli bir yaklaşım sergileyerek, ihtiyaçlarına en iyi şekilde yanıt vermeye çalışırlar. Bu doğrultuda, her türlü sağlık sorununa yönelik özel tedaviler sunmaktayız.

						Teknolojik altyapımız, en son teknolojileri kullanarak hastalarımıza daha hızlı ve doğru teşhisler koyabilmemizi sağlamaktadır. Aynı zamanda, hastalarımızın rahatı için son teknolojiye sahip konforlu yatak odaları sunmaktayız.

						Hastanemiz, kaliteli sağlık hizmeti sunma konusunda ödüllü bir geçmişe sahiptir. Ödüllerimiz, sağlık sektöründe üstün bir başarı elde etmek için yaptığımız çalışmaların bir teyidi olarak kabul edilmektedir.

						Hastanemizdeki tüm sağlık personeli, insan saygısına saygı duyar ve tüm hastalarımızın haklarına saygı gösterir. Sağlık hizmeti sunmanın yanı sıra, hastalarımızın refahı için diğer hizmetler de sunmaktayız. Bu hizmetler arasında, psikolojik danışmanlık, diyet danışmanlığı ve fizyoterapi hizmetleri yer almaktadır.
					</p>
				</div>
			</div>
		</div>


	</div>
</section>


<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">Hastalarımızın Yorumları</h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>Hastanenizin Personeli Gerçekten Harika Minnettarım!</h4>
						<span>Dilara Keskin</span>
					</div>
					<p>
						Hastanenizdeki tedavim sırasında, doktorlarım, hemşirelerim ve diğer sağlık personeli gerçekten harikaydı. Bana her zaman nazik davrandılar ve her sorumla ilgilendiler. Şimdi daha iyi hissediyorum ve bu hastaneye minnettarım.
					</p>
					<i class="icofont-quote-right"></i>

				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Bilgili Doktorlar ve Nazik Hemşirelerle Mucizevi Tedavi</h4>
						<span>Mert Derelioğlu</span>
					</div>
					<p>
						Çok uzun zamandır sağlık sorunlarıyla uğraşıyordum ve bu hastanede tedavi görmeye karar verdim. Bu hastanede yaptığım tedavi benim için gerçekten mucizevi oldu. Doktorlarım çok bilgili ve tecrübeli, hemşirelerim çok nazikti. Hastanenin hijyenik koşulları da çok iyiydi. Kesinlikle tavsiye ederim.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Mükemmel Hizmet ve Modern Tesislerle Harika Bir Deneyim!</h4>
						<span>Seyhan Korkmaz</span>
					</div>
					<p>
						Bu hastanede gerçekten harika bir deneyim yaşadım. Tedavim boyunca tüm sağlık personeli, benimle çok ilgilendiler ve beni rahatlatmak için ellerinden geleni yaptılar. Hastanenin modern tesisleri ve teknolojik altyapısı da gerçekten etkileyiciydi. Kesinlikle en iyi sağlık hizmeti sunan hastanelerden biri.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Uzman Doktorlar ve Sabırlı Hasta Bakımı</h4>
						<span>Ayşe Çelik</span>
					</div>
					<p>
						Hastanenizdeki deneyimim mükemmeldi. Personel, güler yüzlü ve yardımseverdi. Doktorum, konusunda uzman ve sabırlıydı. Tüm süreç boyunca benimle ilgilendiler ve herhangi bir soru sorduğumda dikkatlice cevap verdiler. Kesinlikle herkese tavsiye ederim!
					<i class="icofont-quote-right"></i>
				</div>

				
			</div>
		</div>
	</div>
</section>